/* You can add global styles to this file, and also import other style files */
.foto{
    width: 200px;
    height: 300px;
    margin: 30px;
    border-radius: 10px;
    

}
body{
    background: linear-gradient(to right, #00FFFF, #8A2BE2);
}